# Ignore the virtual environment folder
/Data/TamilData/ImageSet
/Data/SinhalaData/ImageSet
/env
/Data
*.csv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var
