@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --primary-color: #ff4081;
  --secondary-color: #ff8a65;
  --secondary-hover: #e64a19;
  --background-color: #fff7e6;
  --container-bg: #faff93;
  --sub-container-bg:#d6c1ff;
  --text-color: #444;
  --subtext-color: #616161;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body, html {
  font-family: "Fredoka One", cursive;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hidden{
  display: none;
}


.blur-overlay{
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.755);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px); /* Apply blur effect */
  z-index: 100; /* Ensures it only blurs lower z-index elements */
  pointer-events: auto;
}


/* Automatically blur and disable interaction for all elements with z-index < 100 */
*[style*="z-index"] {
  filter: blur(5px);
  pointer-events: none; /* Disable all interactions */
} 

/* Ensure z-index: 100 elements stay clear and interactive */
*[style*="z-index: 100"] {
  filter: none;
  pointer-events: auto; /* Enable interaction only for this */
} 

.start-button{
  border-radius: 8px;
  background-color: rgb(68, 149, 96);
  color: white;
  font-size: 3em;
  width: 200px;
  height: 80px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.start-button:hover{
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgb(51, 113, 73);
  cursor: pointer;
}

.greeting{
  color: white;
  font-size: 3.5em;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 101;
  margin: 0;
}

.home-button1{
  border-radius: 8px;
  background-color: hsl(278, 100%, 31%);
  color: white;
  font-size: 1.5em;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.home-button1:hover{
  background-color: hsla(278, 100%, 31%, 0.721);
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1)
}

.level-container1{
  border: 2px solid #ff8a65;
  border-radius: 8px;
  background-color: hsl(44, 100%, 79%);
  color: rgb(0, 0, 0);
  width: 600px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-container1 p{
  position: absolute;
  margin: 0;
  top: 15%;
  font-size: 3em;
  color: #ff7040;
}

.level-container2{
  position: absolute;
  width: 100%;
  bottom:15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.level-select{
  width: 80px;
  height: 80px;
  border: 4px solid #ff4000;
  background-color: #ff8961;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  font-size: 2.2em;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.selected-level {
  transform: scale(1.1);
  background-color: #ff4000;
}

/* Hover effect for unlocked levels */
.unlocked-level:hover{
  background-color: hsl(15, 98%, 62%);
  cursor: pointer;
  transform: scale(1.1);
}

.header-section{
  border: 2px solid black;
  margin: 0;
  text-align: center;
}

.main-level-container{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.level-no-container {
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: var(--sub-container-bg);
  border-radius: 8px;
  width: 200px;
}


.level-no-container p{
  font-size: 1.6em;
  text-align: left;
  text-align: center;
}

.letter-box-container{
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.letter-box-container div{
  display: flex;
  justify-content: center;  
  align-items: center;     
  text-align: center;
  width: 70px;
  height: 70px;
  background-color: #FFCDD2;;
  color: #D32F2F;
  border-radius: 50%;
  margin-top: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.letter-box-container div:hover{
  transform: scale(1.1);
  background-color: rgb(255, 36, 83);
  cursor: pointer;
}

.letter-box-container p{
  font-size: 1.6em;
  text-align: center;
}

/* Completed letters */
.letter-box.completed {
  background-color: #C8E6C9;
  color: #388E3C;
}

.letter-box.completed:hover {
  background-color: rgb(26, 186, 95);
}

/* Selected letter */
.letter-box.selected {
  pointer-events: none; 
  box-shadow: 0px 0px 14px #0288D1;
  border: 4px solid #0288D1;
  margin-top: 8px;
}

/* Remove hover effect on selected letter */
.letter-box.selected:hover {
  transform: none;  /* No zoom on hover */
  background-color: rgb(100, 200, 143);  /* Keep completed background */
  box-shadow: 0px 0px 14px rgb(56, 119, 255);  /* Keep selected shadow */
  border: 4px solid rgb(56, 119, 255);  /* Keep selected border */
  margin-top: 8px;
}

/* Hover effect for other letters */
.letter-box:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255); /* Hover background */
}


.score-display{
  background-color: var(--sub-container-bg);
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}

.score-display p{
  font-size: 1.6em;
  text-align: center;
}

.sign-related-container{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}

.canvas-wrapper{
  background-color: var(--container-bg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 768px;
  height: 432px;
  position: relative;
  z-index: 2;
}

.canvas {
  height: 432px;
  border-radius: 5px;
  min-width: 768px;
  align-items: center;
  position: relative; 
  z-index: 3;
}

.timer{
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
}

.timer p{
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  font-size: 1.5em;
}

.start-countdown{
  display: none;
  border: 2px solid black;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

.start-countdown p{
  margin-top: 28px;
  font-size: 4em;
  text-align: center;
  color: white;
}



.notification-box {
  display: none;
  position: absolute;
  width: 500px;
  border: 4px solid hsla(0, 0%, 0%, 0.544);
  border-radius: 10px;
  background-color: hsl(155, 100%, 79%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 7;
  padding: 10px 20px 10px 20px;
}

.notification-box p {
  font-size: 2em;
  text-align: center;
}


.start-note{
  /* display: none; */
  position: absolute;
  background-color: var(--sub-container-bg);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 400px;
  height:200px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%); /* Keep it centered horizontally */
  transition: transform 0.3s ease; 
  z-index: 5;
}

.start-note-effect {
  transform: scale(1.05) translateX(-50%); /* Zoom in effect */
}

.start-note p{
  font-size: 2em;
  text-align: center;
  color: var(--subtext-color);
}

.start-button1{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 150px;
  height: 60px;
  background-color: rgba(53, 163, 88, 0.673);
  text-align: center;
  font-size: 1.9em;
  align-content: center;
  color: white;
}

.start-button1:hover{
  background-color: rgb(30, 126, 76);
  cursor: pointer;
}

.hint-container{
  position: relative;
  height: 300px;
  min-width: 300px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}



.hint-button{
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 12px;
  width: 300px;
  height: 100px;
  background-color: var(--secondary-color);
  font-size: 3em;
  text-align: center;
  align-content: center;
  color: white;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.hint-button:hover{
  background-color: #d93b70;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1);
}

.hint-box{
  display: none;
  position: absolute;
  height: 300px;
  min-width: 300px;
  border: 3px solid rgb(253, 54, 54);
  border-radius: 8px;
  background-color: #ffa688ab;
}

.hint-box p{
  margin: 0;
  text-align: center;
  color: rgb(253, 54, 54);
  font-size: 2.2em;
}

.hint-box .hint-image {
  position: absolute;
  width: 90%;
  height: 80%;
  border: 1px solid black;
  border-radius: 8px;
  top: 15%;
  left: 5%;
}


.switch-button-container{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .sign-related-container {
    flex-direction: column;
    align-items: center; 
  }

  .hint-container {
    margin: 20 px;
    display: block;
  }

  .switch-button-container {
    margin: 10px; 
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .main-level-container{
    flex-direction: column;
  }
}


.next-letter-switch, .previous-letter-switch{
  border-radius: 8px;
  background-color: rgba(53, 163, 88, 0.673);
  color: white;
  width: 200px;
  margin-left: 0;
  height: 70px;
  font-size: 1.5em;
  text-align: center;
  align-content: center;
  transition: transform 0.3s ease;
  transform-origin: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.next-letter-switch:hover, .previous-letter-switch:hover{
  background-color: rgba(30, 142, 65, 0.688);
  cursor: pointer;
  transform: scale(1.1);
}


.home-button{
  position: absolute;
  right: 50px;
  margin-top: 5px;  
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.2em;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  transform-origin: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.home-button:hover{
  background-color: #f6a084;
  cursor: pointer;
  transform: scale(1.1);
}

.home-button p{
  font-size: 1.2em;
}

