

/* Header */
.profile-header, .play-header {
    width: 100%;
    padding: 20px;
    background-color: var(--header-title);
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    box-shadow: 0 6px 12px var(--shadow-color);
}

.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .profile-content {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 20px;
  }
  
  .profile-left {
    flex: 1; /* Takes less space */
    max-width: 200px; /* Limit width */
  }
  
  .profile-right {
    flex: 5; /* Takes more space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    transition: background 0.3s ease-in-out;
  }
  
  .menu-item:hover {
    background-color: var(--button-hover);
  }
  
  .profile-switchcard {
    width: 100%;
    max-width: 800px;

    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }


  /* Profile Report Container */
.profile-report {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    /* box-shadow: 0 4px 10px var(--shadow-color); */
}

/* User Details */
.userdetails {
    
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0 2px 6px var(--shadow-color); */
}

/* Language Switching Buttons */
.switch-buttons {
    display: flex;
    justify-content: center;

}

.switch-buttons button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.switch-buttons button.active {
    background-color: var(--button-hover);
}

.switch-buttons button:hover {
    background-color: var(--button-hover);
}

/* Graph Section */
.Grapgh-section {
    overflow-x: auto; /* Enables horizontal scrolling */
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
   
    box-shadow: 0 2px 6px var(--shadow-color);
}

.masterry-graph {
    min-width: 600px; /* Ensures content inside is scrollable if needed */
    height: 300px;
}

  

  